include honeybee_energy_standards/constructions/*.json
include honeybee_energy_standards/constructionsets/*.json
include honeybee_energy_standards/schedules/*.json
include honeybee_energy_standards/programtypes/*.json
include honeybee_energy_standards/programtypes_registry/*.json
